<mat-card class="story-card">
  <mat-card-title> US-{{story.id}} : {{ story.title.toUpperCase() }}</mat-card-title>
  <mat-card-subtitle>Status: {{ story.status }}</mat-card-subtitle>
  <mat-card-content>
    <p>Description : {{ story.description }}</p>
    <div class="meta">
      <div class="meta-info"><strong>Created By: </strong> {{ story.createdBy }}</div>
      <div class="meta-info"><strong>Assigned To: </strong> {{ story.assignedTo }}</div>
      <div class="meta-info"><strong>Creation Time: </strong> {{ getReadableTime(story.creationTime) }}</div>
    </div>
  </mat-card-content>
</mat-card>
