.footer {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.footer a {
  color: white;
  margin-left: 16px;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}
